@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');



body {
  font-family: Caveat, sans-serif;
  font-size: 2rem;
}

.formControl {
  min-width: 120;
  background-color: "red";
}

.MuiSelect-filled.MuiSelect-filled {
  padding-right: 40px ;
  margin-bottom: -8px;
  min-width: 50px;
  width: auto;
}


.MuiFilledInput-root {
  background-color: rgb(255 255 255 / 9%) !important;
  border-left: 1px solid ghostwhite !important;
}

.MuiTypography-body1 {
  font-family: Caveat, sans-serif !important;
  font-size: 25px !important;
}

.MuiListItemText-multiline {
  margin-top: 6px;
  margin-bottom: 6px;
  width: 210px;
}

.MuiButton-containedPrimary {
  color: #fff;
  background-color: #3f51b5;
  margin-left: 10px !important;
  margin-top: 10px !important;
}

label + .MuiInput-formControl {
  min-width: 320px;
}

.cards{
  display: flex;
}

.cards:hover{
  background-color: #fff6fa;
  border: 1px solid rgb(177, 177, 177);
  transition: 0.3s;
}

